

<h1>Welcome to book details page</h1>


<p>Title:</p>
<h2>{{theBook.title}}</h2>



<p>Author:</p>
<h3>{{theBook.author}}</h3>


<img style="width:400px" src="{{theBook.image}}" alt="sorry no image for this book" >