<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div class="navbar">
      <a href="/books">All Books</a>
      <a href="/books/create-new-book">Add a New Book</a> 
      <a href="/authors">View Authors</a>


    <form action="/logout" method="POST">
    <button>Logout</button>
    </form>

    </div>


    {{{body}}}




    <script src='/javascripts/script.js'></script>
  </body>
</html>
