
<h1>Signup</h1>

<form action="/signup" method="POST" enctype="multipart/form-data">


<p>Username</p>
<input type="text" name="theUsername">

<p>Email</p>
<input type="email" name="email">

<p>Password</p>
<input type="password" name="thePassword">

<p>Profile Picture</p>
<input type="file" name="the-image-input-name">

<br>
<br>
<br>


<button>Submit</button>
</form>