

<h1>Author Details</h1>


<p>Name:</p>
<h2>{{theAuthor.name}}</h2>



<p>Born:</p>
<h3>{{theAuthor.birthday}}</h3>


<img style="width:400px" src="{{theBook.image}}" alt="sorry no image for this book" >